
<div id="category-select">

	<div class="col-xs-3 col-10 text-center">
		<div class="checkbox">
			<label for="query_categories_defence">
				<input class="check_boxes optional" type="checkbox" value="Defence" name="query[categories][]" id="query_categories_defence">
				<p>
					<i class="fa fa-3x fa-shield" aria-hidden="true"></i>
					Defence
				</p>
			</label>
		</div>
	</div>

	<div class="col-xs-3 col-10 text-center">
		<div class="checkbox">
			<label for="query_categories_economic_affairs">
				<input class="check_boxes optional" type="checkbox" value="economic_affairs" name="query[categories][]" id="query_categories_economic_affairs">
				<p>
					<i class="fa fa-3x fa-money" aria-hidden="true"></i>
					Economic Affairs
				</p> 
			</label>
		</div>
	</div>

	<div class="col-xs-3 col-10 text-center">
		<div class="checkbox">
			<label for="query_categories_education">
				<input class="check_boxes optional" type="checkbox" value="education" name="query[categories][]" id="query_categories_education">
				<p>
					<i class="fa fa-3x fa-graduation-cap" aria-hidden="true"></i>
					Education
				</p>
			</label>
		</div>
	</div>

	<div class="col-xs-3 col-10 text-center">
		<div class="checkbox">
			<label for="query_categories_environment_protection">
				<input class="check_boxes optional" type="checkbox" value="environment_protection" name="query[categories][]" id="query_categories_environment_protection">
				<p>
					<i class="fa fa-3x fa-pagelines" aria-hidden="true"></i>
					Environment Protection
				</p>
			</label>
		</div>
	</div>

	<div class="col-xs-3 col-10 text-center">
		<div class="checkbox">
			<label for="query_categories_general_public_services">
				<input class="check_boxes optional" type="checkbox" value="general_public_services" name="query[categories][]" id="query_categories_general_public_services">
				<p>
					<i class="fa fa-3x fa-university" aria-hidden="true"></i>
					General Public Services
				</p>
			</label>
		</div>
	</div>

	<div class="col-xs-3 col-10 text-center">
		<div class="checkbox">
			<label for="query_categories_health">
				<input class="check_boxes optional" type="checkbox" value="health" name="query[categories][]" id="query_categories_health">
				<p>
					<i class="fa fa-3x fa-heartbeat" aria-hidden="true"></i>
					Health
				</p>
			</label>
		</div>
	</div>

	<div class="col-xs-3 col-10 text-center">
		<div class="checkbox">
			<label for="query_categories_housing_and_community_amenities">
				<input class="check_boxes optional" type="checkbox" value="housing_and_community_amenities" name="query[categories][]" id="query_categories_housing_and_community_amenities">
				<p>
					<i class="fa fa-3x fa-home" aria-hidden="true"></i>
					Housing and Community Amenities
				</p>
			</label>
		</div>
	</div>

	<div class="col-xs-3 col-10 text-center">
		<div class="checkbox">
			<label for="query_categories_public_order_and_safety">
				<input class="check_boxes optional" type="checkbox" value="public_order_and_safety" name="query[categories][]" id="query_categories_public_order_and_safety">
				<p>
					<i class="fa fa-3x fa-balance-scale" aria-hidden="true"></i>
					Public Order and Safety
				</p>
			</label>
		</div>
	</div>

	<div class="col-xs-3 col-10 text-center">
		<div class="checkbox">
			<label for="query_categories_recreation__culture_and_religion">
				<input class="check_boxes optional" type="checkbox" value="recreation__culture_and_religion" name="query[categories][]" id="query_categories_recreation__culture_and_religion">
				<p>
					<i class="fa fa-3x fa-music" aria-hidden="true"></i>
					Recreation, Culture and Religion
				</p>
			</label>
		</div>
	</div>

	<div class="col-xs-3 col-10 text-center">
		<div class="checkbox">
			<label for="query_categories_social_protection">
				<input class="check_boxes optional" type="checkbox" value="social_protection" name="query[categories][]" id="query_categories_social_protection">
				<p>
					<i class="fa fa-3x fa-universal-access" aria-hidden="true"></i>
					Social Protection
				</p>
			</label>
		</div>
	</div>
</div>