<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<a href="#"><i class="fa fa-heart"></i></a>
				<a href="#"><i class="fa fa-share"></i></a>
				<a href="#"><i class="fa fa-star"></i></a>
			</div>
			<div class="col-xs-6 text-right">
				<p>Powered by <i class="fa fa-pied-piper-alt" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; © 2017</p>
			</div>
		</div>
	</div>
</div>