<span><%= link_to 'Choose Category and Country', queries_new_selection_path %></span>

<span><%= link_to 'Show Graph', query_path %></span>
<span><%= link_to 'Go to your profile', dashboard_path %></span>

<!-- KB works above this line for testing -->



<div class="container">
	<div class="row">
		<h1>This is a lovely welcome message</h1>
	</div>
	<div class="row text-center">
	<div class="row">
		<h3>Featured graphs</h3>
	</div>
		<div class="col-xs-4">
			<!-- <div class="card graph-card hexagon hexagon1"> -->
				<!-- <div class="hexagon-in1"> -->
					<div class="hexagon">
					  <div class="hexTop"></div>
					  <div class="hexBottom"></div>
					</div>
<!-- 		      </div>
			</div> -->
		<!-- </div> -->
		<!-- <div class="col-xs-4"> -->
			<!-- <div class="card graph-card hexagon hexagon1"> -->
				<!-- <div class="hexagon-in1"> -->
					<div class="hexagon">
  <div class="hexTop"></div>
  <div class="hexBottom"></div>
</div>
<!-- 		      </div>
			</div>
 <!div>
		<! <div class="col-xs-4"> -->
			<!-- <div class="card graph-card hexagon hexagon1"> -->
				<!-- <div class="hexagon-in1"> -->
					<div class="hexagon">
  <div class="hexTop"></div>
  <div class="hexBottom"></div>
</div>
		      <!-- </div> -->
			<!-- </div> -->
		</div>
	</div>
	<div class="row text-center">
		<h3>Or browse by...</h3>
		<div class="col-xs-4">
			<a class="btn btn-primary btn-md">COUNTRY</a>
		</div>
		<div class="col-xs-4">
			<a class="btn btn-primary btn-md">CATEGORY</a>
		</div>
		<div class="col-xs-4">
			<a class="btn btn-primary btn-md">COMPARE</a>
		</div>
	</div>
</div>
