This is where the COMPARE MATRIX graphs go

<% @data.each do |statistic| %>
  <pre>
    <%= statistic.to_json(:except => [ :created_at, :updated_at ]) %>
  </pre>

<% end %>


<p><%= link_to 'Back', :back %></p>
<p><%= link_to 'Go to your profile', dashboard_path %></p>
<p><%= link_to 'Home', root_path %></p>

<!-- -/queries/new/category?country=France
-/queries/new/country?categories=TYT,UIYI,JH -->


<div id="chartContainer">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.3.0/d3.js"></script>
  <script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>
  <script type="text/javascript">
    var svg = dimple.newSvg("#chartContainer", 750, 750);
    d3.csv("/test-data.csv", function (data) {
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(130, 25, 650, 650)
      myChart.addCategoryAxis("x", "Country");
      myChart.addCategoryAxis("y", "Category");
      var z = myChart.addMeasureAxis("z", "Value");
      // var s = myChart.addSeries("Euros");
      var c = myChart.addSeries("Category", dimple.plot.bubble);
      // s.aggregate = dimple.aggregateMethod.max;
      // z.overrideMax = 100;
      // myChart.addLegend(240, 10, 330, 20, "right");
      myChart.ease = "bounce";
      myChart.defaultColors = [
          new dimple.color("#263e5c", "#263e5c", 1), // yellow
          new dimple.color("#3d6099", "#3d6099", 1), // green
          new dimple.color("#4895b5", "#4895b5", 1), // teal
          new dimple.color("#54b4d3", "#54b4d3", 1), // cyan
          new dimple.color("#00e7ff", "#00e7ff", 1), // dark teal
          new dimple.color("#3ef8ca", "#3ef8ca", 1), // turquoise
          new dimple.color("#ff7540", "#ff7540", 1),  // blue
          new dimple.color("#f45b3d", "#f45b3d", 1),  // purple
          new dimple.color("#cc2c14", "#cc2c14", 1),  // violet
          new dimple.color("#ae1511", "#ae1511", 1)  // bright purple
      ];
      myChart.draw();
    });
  </script>
</div>
