<!-- Single category routes to Sven's graph type, all countries for selected category -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Choose One Category</h1>
      <p>Select a spending category to compare the amount different countries spend.</p>
    </div>
  </div>

  <div class="cat-form-container text-center">
    <div class="row">
      <%= render 'shared/new_category_form' %>
    </div>
  </div>
</div>
