<!-- Single category routes to Sven's graph type, all countries for selected category -->
<!-- country1 = all (hidden param)  -->
<div class="container">

<h1>Make Your Selections</h1>

<p>Choose a single country or category to explore, or choose up to two of each to compare</p>

<%= render 'shared/new_category_form' %>

<p><%= link_to 'Go to your profile', dashboard_path %></p>
<p><%= link_to 'Back', :back %></p>
<p><%= link_to 'Home', root_path %></p>
</div>
