<!-- Routes to KB graph showing all spending for selected country.  -->
<!--  all (hidden param)  -->
<div class="container">

<h1>Choose One Country</h1>

Choose one country to see all spending for this country.</p>

<%= render 'shared/new_country_form' %>

<p><%= link_to 'Go to your profile', dashboard_path %></p>
<p><%= link_to 'Back', :back %></p>
</div>
