<!-- routes to bubble matrix, user chooses one or two countries, and one or two categories
	to compare -->

	<div class="container">

		<h1>Choose Multiple Countries and Categories</h1>

		<p>Choose a selection of different countries and categories to explore and compare spending across the EU.</p>

	<%= simple_form_for @query do |f| %>
	<div class="container">
		<div class="row">
			<h3>Categories</h3>
			<%= render partial: "shared/category_checkbox" %>
		</div>

			<div class="row">
				<h3>Countries</h3>
				<% @countries.each do |country| %>
				<div class="col-10 col-xs-3 text-center" id="country-select">
					<%= render partial: "shared/country_checkbox", locals: { country: country } %>
				</div>
				<% end %>
			</div>
		
		<div class="row">
			<div class="col-xs-6">
				<div class="card">
					<div class="content">
						<h3 class="selected-title">Selected categories</h3>
						<ul id="summary-category"></ul>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="card">
					<div class="content">
						<h3 class="selected-title">Selected countries</h3>
						<ul id="summary-country"></ul>
					</div>
				</div>
			</div>
		</div>
		<%= f.button :submit, "Compare", class: "btn btn-primary long-btn" %>
		<% end %>

	</div>
