<!-- Routes to KB graph showing all spending for selected country.  -->
<!--  all (hidden param)  -->
<div class="container">
	<div class="row">
		<div class="col-xs-12">
		<h1>Choose One Country</h1>
		<p>Select a country to see a breakdown of its government spending.</p>
		</div>
	</div>

	<div class="row">
		<%= render 'shared/new_country_form' %>
	</div>

	<p><%= link_to 'Go to your profile', dashboard_path %></p>
	<p><%= link_to 'Back', :back %></p>

</div>
