// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";

h1, h2, h3, h4, h5, p, ul {
	font-family: 'Quicksand', sans-serif;
	color: #616161;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.card-block {
	padding: 15px;
}

.trans-btn {
  opacity: 0.75;
}

.tooltip {
  font-weight: bold;
  padding: 0.5rem;
  border: 1px solid silver;
  color: #222;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #a6a6a6;
  opacity: 0.9;
  position: absolute;
}
.tooltip p{
  margin:0;
}
.hidden {
  display: none;
}

#map {
  width: 700px;
  height: 500px;
  border: 1px solid silver;
  background: #F4FFFF;
}

#legend {
  border: 1px solid silver;
  border-top: 0;
}

.legend-key path {
  display: none;
}

.legend-key text {
  font-size: 1rem;
}

.legend-key line {
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Thanks to http://colorbrewer2.org/ */
.YlGnBu .q0-5{fill:rgb(255,255,217)}
.YlGnBu .q1-5{fill:rgb(237,248,177)}
.YlGnBu .q2-5{fill:rgb(199,233,180)}
.YlGnBu .q3-5{fill:rgb(127,205,187)}
.YlGnBu .q4-5{fill:rgb(65,182,196)}
.YlGnBu .q5-5{fill:rgb(29,145,192)}
.YlGnBu .empty{fill:#ccc}

g.features {
  stroke: #d8d8d8;
  stroke-width: 0.5;
}
g.features path:hover {
  opacity: 0.5;
}

@media screen and (min-width: 992px) {
  .col-8 {
    width: 12.5%;
    margin: 30px 0 30px 0;
  }
 }

@media screen and (min-width: 992px) {
  .col-10 {
    width: 10%;
  }
 }

@media screen and (min-width: 992px) {
  .col-5 {
    width: 20%;
    margin: 30px 0 30px 0;
  }
 }

input[type=image] {
  padding: 8px 0 8px 0;
}

input[type=image]:hover {
  opacity: 0.8;
}

// .greyed {
//   color: grey !important;
// }

.fa-shield {
  color: #263e5c;
}

.fa-money {
  color: #3d6099;
}

.fa-graduation-cap {
  color: #4895b5;
}

.fa-pagelines {
  color: #54b4d3;
}

.fa-university {
  color: #00e7ff;
}

.fa-heartbeat {
  color: #3ef8ca;
}

.fa-home {
  color: #ff7540;
}

.fa-balance-scale {
  color: #f45b3d;
}

.fa-music {
  color: #cc2c14;
}

.fa-universal-access {
  color: #ae1511;
}

.fa:hover {
  opacity: 0.8;
}

.long-btn {
  width: 100%;
  margin: 30px 0;
}

#chartContainer {
  background-color: white;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.checkbox input[type=checkbox] {
    opacity: 1;
    position: static;
    margin: 0;
    // z-index: -1;
    // width: 0;
    // height: 0;
    overflow: hidden;
    // left: 0;
    pointer-events: none;
}

.cat-btn {
  border: none;
  background-color: transparent;
}

.cat-form-container {
  margin: 70px 0 70px 0;
}

.fa {
  padding: 8px;
}

.teeny-font {
  font-size: 13px;
}

h5 {
  font-size: 15px;
}

// Start tree graph styling
.node circle {
  fill: #ff7540;
  stroke: #f45b3d;
  stroke-width: 3px;
}

.node text {
  font: 10px sans-serif; }

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-opacity: 0.7;
}
// End tree graph styling

.dimple-defence {
  fill: #263e5c !important;
}

.dimple-economic-affairs {
  fill: #3d6099 !important;
}

.dimple-education {
  fill: #4895b5 !important;
}

.dimple-environment-protection {
  fill: #54b4d3 !important;
}

.dimple-general-public-services {
  fill: #00e7ff !important;
}

.dimple-health {
  fill: #3ef8ca !important;
}

.dimple-housing-and-community-amenities {
  fill: #ff7540 !important;
}

.dimple-public-order-and-safety {
  fill: #f45b3d !important;
}

.dimple-recreation--culture-and-religion {
  fill: #cc2c14 !important;
}

.dimple-social-protection {
  fill: #ae1511 !important;
}

circle {
  stroke: #e0e0e0 !important;
  stroke-width: 1px !important;
}

.dimple-custom-axis-line {
  stroke: #e0e0e0 !important;
}

text.dimple-custom-axis-label {
  fill: grey !important;
}

.featured-graphs {
  margin: 50px 0 0 0;
}

.graph-title {
  padding: 20px 0 20px 0;
}

#legend {
  border: none;
}

.content {
  padding: 15px;
}

.selected-title {
  text-align: center;
}
